body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f6f6f6;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px;
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 24px;
}

form {
    background-color: #fff;
    padding: 32px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

label {
    font-size: 16px;
    color: #777;
    margin-bottom: 8px;
}

input {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #007aff;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #005fbf;
}

table {
    background-color: #fff;
    border-collapse: collapse;
    margin: 0 auto;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f6f6f6;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

#investmentResults table {
    background-color: #fff;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 1em;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#investmentResults th, #investmentResults td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

#investmentResults th {
    background-color: #f6f6f6;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}
